/* Write your CSS code here */
.blog-item {
  list-style-type: none;
  width: 100%;
  border-bottom: 1px solid #9aa5b1;
}
.blog-item-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.blog-title {
  font-size: 18px;
  font-family: Roboto;
  font-weight: bold;
  color: #12022f;
}
.blog-published-date {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #9aa5b1;
}
.blog-description {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #9aa5b1;
}
